.container {
  padding: 1% 2%;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;

  .flex {
    display: flex;
    justify-content: space-between;

    .leftHeading {
      width: stretch;
      display: flex;
      align-items: center;
      font-size: 1.2em;
      @media only screen and (max-width: 600px) {
        padding: 3% 2%;
      }

      .icon {
        margin-right: 0.5%;
        font-size: 80%;
        
        @media only screen and (max-width: 600px) {
          margin-right: 2%;
        }
      }

      .fbText {
        margin-right: 0.5%;
        color: #0969da;
        font-weight: 600;
        cursor: pointer;
      }

      .fbText:hover {
        text-decoration: underline;
      }

      .reactText {
        margin-left: 0.5%;
        font-weight: 700;
        color: #0969da;
        cursor: pointer;
        @media only screen and (max-width: 600px) {
          margin-right: 2%;
        }
      }

      .reactText:hover {
        text-decoration: underline;
      }

      .chip {
        margin-left: 1%;
      }
    }

    .rightHeading {
      width: 30%;
      display: flex;
      justify-content: space-around;

      @media only screen and (max-width: 600px) {
        display: none;
      }

      .rightMenuItem {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #d0d7de;
        border-radius: 6px;
        padding: 4px 8px;
        cursor: pointer;

        .icon {
          margin-right: 1%;
        }

        .menuText {
          margin-left: 1%;
          font-size: 0.8em;
        }

        .one {
          border-right: 1px solid #d0d7de;
          background-color: #f6f8fa;
        }

        .two {
          background-color: #fff;
        }
      }
    }

    .tabs {
      display: flex;
      margin: 2% 1%;
      margin-bottom: -1%;
      font-size: 0.95em;

      .tab {
        padding: 1em 1.5em;
        padding-bottom: 1em;
        margin-bottom: -0.1em;
        box-sizing: content-box;
        cursor: pointer;

        .icon {
          font-size: 1.1em;
          vertical-align: top;
        }
      }

      .selectedTab {
        font-weight: 600;
        border-bottom: 2px solid #fd8c73;
      }

      .extraTabs {
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
}

.icon {
  color: #57606a;
}