.body {
  margin: 2% 15%;
  border: 1px solid #d0d7de;
  border-radius: 0.4em;

  @media only screen and (max-width: 600px) {
    margin: 0;
  }
  .listContainer {
    background-color: unset;

    .listHeader {
      display: flex;
      align-items: center;
      padding: 1em;
      border-bottom: 1px solid #d0d7de;
      background-color: #f6f8fa;
      border-radius: 0.4em 0.4em 0 0;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }

      .listHeaderLeft {
        display: flex;
        align-items: center;
        width: stretch;

        .icon {
          min-width: 2.5%;
          margin-right: 0.25em;
          font-size: 1.4em;
        }

        .circle {
          cursor: pointer;
        }

        .openCount {
          font-size: 0.9em;
          font-weight: 600;
        }

        .tick {
          margin-left: 0.5%;
          font-size: 100%;
          color: #57606a;
          cursor: normal;
        }

        .closeCount {
          font-size: 0.9em;
          color: #57606a;
        }
      }

      .listHeaderRight {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 0.9em;

        @media only screen and (max-width: 600px) {
          margin-top: 3%;
          padding-top: 3%;
          border-top: 1px solid #d0d7de;
        }
        .rightMenuItem {
          display: flex;
          align-items: flex-end;
          cursor: pointer;
        }

        .hide {
          @media only screen and (max-width: 600px) {
            display: none;
          }
        }
      }
    }

    .issuesList {

      .issueItem {
        padding: 0.5em 1em;
        border-bottom: 1px solid #d0d7de;
        display: flex;
        .icon {
          font-size: 1.4em;
          color: #1a7f37;
          margin-right: 0.5%;
        
          @media only screen and (max-width: 600px) {
            margin-right: 1%;
          }
        }

        .issueItemData {
          width: stretch;

          .issueDetails {
            max-width: 75%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media only screen and (max-width: 600px) {
              max-width: unset;
            }

            .issueTitle {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              font-weight: 600;
              word-break: break-word;
              white-space: pre-wrap;
              cursor: pointer;

              .icon {
                min-width: 2.5%;
                margin-right: 0.25em;
                cursor: pointer;
              }

              .issueTitleChip {

                .issueTitleText {
                  margin-right: 0.5em;

                }

                .issueTitleText:hover {
                  color: #0969da;
                }
              }
            }

            .chip {
              margin-right: 0.5em;
              cursor: pointer;
            }
          }

          .issueUser {
            display: block;
            margin: 0.5% 0 0.1% 0;
            font-size: 0.75em;
            color: #57606a;
            font-weight: 500;
            line-height: 1.1;
            @media only screen and (max-width: 600px) {
              margin: 2% 0 1% 0;
            }

            .username {
              cursor: pointer;
            }

            .username:hover {
              color: #0969da;
            }
          }
        }

        .comment {
          display: flex;
          align-items: flex-start;
          font-weight: 500;
          @media only screen and (max-width: 600px) {
            display: none;
          }

          .icon {
            font-size: 1.1em;
            margin-right: 3px;
            color: #000;
          }

          .commentCount {
            font-size: 0.8em;
          }

          :hover {
            color: #0969da;
          }
        }

        .comment:hover {
          color: #0969da;
          cursor: pointer;
        }

      }

      // .issueItem>* {
      //   flex: 0 0 auto;
      // }
      .issueItem:hover {
        background-color: #f6f8fa;
      }
    }
  }
}